$primary-color: #333;
$secondary-color: #666;
$dropdown-bg-color: #fff;
$dropdown-hover-bg-color: #f5f5f5;
$dropdown-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

$header-background: #ffffff;
$header-max-width: 1200px;
$header-padding: 20px;
$header-font-size: 48px;

.header {
  background-color: $header-background;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $header-padding;
    max-width: $header-max-width;
    margin: 0 auto;

    .brand {
      font-size: $header-font-size;
      font-weight: bold;
    }

    .nav-menu {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        position: relative;

        a {
          color: $primary-color;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $secondary-color;
          }
        }

        .dropdown {
          cursor: pointer;

          .dropdown-content {
            display: none;
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
            background-color: $dropdown-bg-color;
            box-shadow: $dropdown-shadow;
            z-index: 1;
            border-radius: 4px;
            padding: 8px 0;
            font-size: 16px;

            a {
              display: block;
              color: $primary-color;
              padding: 10px 20px;
              text-decoration: none;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: $dropdown-hover-bg-color;
              }
            }
          }

          &:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    /* Responsive styles for smaller screens */
    .navbar {
      flex-direction: column;
      padding: 10px; /* Adjust as needed for smaller screens */

      .brand {
        margin-bottom: 20px;
      }

      .nav-menu {
        flex-direction: column;
        align-items: center;

        li {
          width: 100%;

          .dropdown {
            display: block;
            width: 100%;

            .dropdown-content {
              position: static;
              box-shadow: none;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
